{% extends 'userbase.html' %}
{% load static %}

{% block content %}

<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Search Appointment</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>

                <li class="breadcrumb-item text-primary active" aria-current="page">Search Appointment</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->



<!-- Appointment Start -->
<div class="container-xxl py-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="card-block">
                    <h4 class="sub-title">Search Appointment </h4>
                    <form method="GET">

                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Search(By Fullname/Appointment Number)</label>
                            <br>
                            <div class="col-sm-12">
                                <input type="text" id="query" name="query" class="form-control"
                                    style="border: solid #000 1px;" required="">

                            </div>
                        </div>


                        <br>
                        <button type="submit" class="btn btn-primary btn-user btn-block">Search</button>
                    </form>

                </div>
                <br>

                <div class="card card-table">

                    <div class="card-body">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'info' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        {% if patient %}
                                        <th>Appointment Number</th>
                                        <th>Patient Name</th>
                                        <th>Date of Appointment</th>
                                        <th>Alloted Time</th>
                                        <th>Creation Date</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in patient %}
                                    <tr>

                                        <td>{{i.appointmentnumber}}</td>
                                        <td>{{i.fullname}}</td>
                                        <td>{{i.date_of_appointment}}</td>
                                        <td>{{i.time_of_appointment}}</td>
                                        <td>{{i.created_at}}</td>
                                        {% if i.status == '0' %}
                                        <td>Not Updated Yet</td>
                                        {% else %}
                                        <td>{{ i.status}}</td>{% endif %}
                                        {% if i.status == 'Approved' %}
                                        <td>
                                            <div class="actions">
                                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#paymentModal{{i.id}}">
                                                    Pay Now
                                                </button>
                                            </div>
                                        </td>
                                        {% endif %}
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'viewappointmentdetails' i.id %}">
                                                    <i class="btn btn-primary btn-sm">View</i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Payment Modal -->
                                    <div class="modal fade paymentModal" id="paymentModal{{i.id}}" tabindex="-1"
                                        aria-labelledby="paymentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="paymentModalLabel{{i.id}}">Payment Details</h5>
                                                    <button type="button" class='btn-close' data-bs-dismiss='modal'
                                                        aria-label='Close'></button>
                                                </div>
                                                <div class='modal-body'>

                                                    <div class="credit-card-form">
                                                        <div id="Checkout" class="inline">
                                                            <h1>Pay Invoice</h1>
                                                            <div class="card-row">
                                                                <span class="visa"></span>
                                                                <span class="mastercard"></span>
                                                                <span class="amex"></span>
                                                                <span class="discover"></span>
                                                            </div>
                                                            <form action="{% url 'allottime' i.id %}" method="post" id="paymentForm">
                                                                {% csrf_token %}
                                                                <div class="form-group px-2 mt-1">
                                                                    <label for="PaymentAmount">Payment amount</label>
                                                                    <div class="amount-placeholder">
                                                                        <b><span>&#x20b9;</span>
                                                                        <span>{{i.doctor_id.consultation_fee}}.00</span></b>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group px-2 mt-1">
                                                                    <label or="NameOnCard">Name on card</label>
                                                                    <input id="NameOnCard" name="card_name" class="form-control"
                                                                        type="text" maxlength="255" required></input>
                                                                </div>
                                                                <div class="form-group px-2 mt-1">
                                                                    <label for="CreditCardNumber">Card number</label>
                                                                    <input id="CreditCardNumber" name="card_no"
                                                                        class="null card-image form-control"
                                                                        type="text" required></input>
                                                                </div>
                                                                <div class="expiry-date-group form-group px-2 mt-1">
                                                                    <label for="ExpiryDate">Expiry date</label>
                                                                    <input id="ExpiryDate" name="expiry" class="form-control"
                                                                        type="text" placeholder="MM / YY"
                                                                        maxlength="7" required></input>
                                                                </div>
                                                                <div class="security-code-group form-group px-2 mt-1 mb-2">
                                                                    <label for="SecurityCode">CVV</label>
                                                                    <div class="input-container">
                                                                        <input id="SecurityCode" name="cvv" class="form-control"
                                                                            type="text" maxlength="3" required></input>
                                                                    </div>
                                                                </div>
                                                                <div class="zip-code-group form-group px-2 mb-2">
                                                                    <label for="ZIPCode">ZIP/Postal code</label>
                                                                    <div class="input-container">
                                                                        <input id="ZIPCode" name="pincode" class="form-control"
                                                                            type="text" maxlength="10" required></input>
                                                                        <a tabindex="0" role="button"
                                                                            data-toggle="popover" data-trigger="focus"
                                                                            data-placement="left"
                                                                            data-content="Enter the ZIP/Postal code for your credit card billing address."></a>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    <button id="PayButton"
                                                                        class="btn btn-block btn-success submit-button"
                                                                        type="submit">
                                                                        <span class="submit-button-lock"></span>
                                                                        <span class="align-middle">Pay &#x20b9;{{i.doctor_id.consultation_fee}}.00</span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- Animation Container -->
                                                    <div class='animation-container' id='animationContainer'>
                                                        <div id="processing" class="uncomplete center">
                                                            <div class="wrapper">
                                                                <div class="gears">
                                                                    <div class="gear-wrapper gear-wrapper-1">
                                                                        <svg version="1.1" class="gear gear-1"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            x="0px" y="0px" viewBox="0 0 512 512"
                                                                            style="enable-background:new 0 0 512 512;"
                                                                            xml:space="preserve">
                                                                            <path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
                            c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
                            c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
                            C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
                            c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
                            c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
                            C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
                            c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
                            c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
                            C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
                            c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
                            c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
                            C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
                            c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
                                                                        </svg>
                                                                    </div>
                                                                    <div class="gear-wrapper gear-wrapper-2">
                                                                        <svg version="1.1" class="gear gear-2"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            x="0px" y="0px" viewBox="0 0 512 512"
                                                                            style="enable-background:new 0 0 512 512;"
                                                                            xml:space="preserve">
                                                                            <path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
                            c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
                            c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
                            C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
                            c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
                            c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
                            C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
                            c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
                            c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
                            C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
                            c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
                            c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
                            C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
                            c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
                                                                        </svg>
                                                                    </div>
                                                                    <div class="gear-wrapper gear-wrapper-3">
                                                                        <svg version="1.1" class="gear gear-3"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            x="0px" y="0px" viewBox="0 0 512 512"
                                                                            style="enable-background:new 0 0 512 512;"
                                                                            xml:space="preserve">
                                                                            <path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
                            c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
                            c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
                            C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
                            c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
                            c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
                            C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
                            c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
                            c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
                            C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
                            c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
                            c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
                            C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
                            c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
                                                                        </svg>
                                                                    </div>
                                                                    <div class="gear-wrapper gear-wrapper-4">
                                                                        <svg version="1.1" class="gear gear-4"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            x="0px" y="0px" viewBox="0 0 512 512"
                                                                            style="enable-background:new 0 0 512 512;"
                                                                            xml:space="preserve">
                                                                            <path class="st0" d="M507.6,232.1c0,0-9.3-3.5-36.2-6c-32.9-3-42.8-15.4-53.7-30.7h-0.2c-1.4-3.6-2.8-7.2-4.4-10.8l0.1-0.1
                            c-3.1-18.6-4.8-34.3,16.3-59.7C446.7,104,450.8,95,450.8,95c-4-10.3-13.8-20-13.8-20s-9.7-9.7-20-13.8c0,0-9.1,4.1-29.8,21.4
                            c-25.4,21.1-41.1,19.4-59.7,16.3l-0.1,0.1c-3.5-1.6-7.1-3.1-10.8-4.4v-0.2c-15.3-10.9-27.7-20.9-30.7-53.7c-2.5-26.9-6-36.2-6-36.2
                            C269.8,0,256,0,256,0s-13.8,0-23.9,4.4c0,0-3.5,9.3-6,36.2c-3,32.9-15.4,42.8-30.7,53.7v0.2c-3.6,1.4-7.3,2.8-10.8,4.4l-0.1-0.1
                            c-18.6,3.1-34.3,4.8-59.7-16.3C104,65.3,95,61.2,95,61.2C84.7,65.3,75,75,75,75s-9.7,9.7-13.8,20c0,0,4.1,9.1,21.4,29.8
                            c21.1,25.4,19.4,41.1,16.3,59.7l0.1,0.1c-1.6,3.5-3.1,7.1-4.4,10.8h-0.2c-10.9,15.4-20.9,27.7-53.7,30.7c-26.9,2.5-36.2,6-36.2,6
                            C0,242.3,0,256,0,256s0,13.8,4.4,23.9c0,0,9.3,3.5,36.2,6c32.9,3,42.8,15.4,53.7,30.7h0.2c1.4,3.7,2.8,7.3,4.4,10.8l-0.1,0.1
                            c3.1,18.6,4.8,34.3-16.3,59.7C65.3,408,61.2,417,61.2,417c4.1,10.3,13.8,20,13.8,20s9.7,9.7,20,13.8c0,0,9-4.1,29.8-21.4
                            c25.4-21.1,41.1-19.4,59.7-16.3l0.1-0.1c3.5,1.6,7.1,3.1,10.8,4.4v0.2c15.3,10.9,27.7,20.9,30.7,53.7c2.5,26.9,6,36.2,6,36.2
                            C242.3,512,256,512,256,512s13.8,0,23.9-4.4c0,0,3.5-9.3,6-36.2c3-32.9,15.4-42.8,30.7-53.7v-0.2c3.7-1.4,7.3-2.8,10.8-4.4l0.1,0.1
                            c18.6-3.1,34.3-4.8,59.7,16.3c20.8,17.3,29.8,21.4,29.8,21.4c10.3-4.1,20-13.8,20-13.8s9.7-9.7,13.8-20c0,0-4.1-9.1-21.4-29.8
                            c-21.1-25.4-19.4-41.1-16.3-59.7l-0.1-0.1c1.6-3.5,3.1-7.1,4.4-10.8h0.2c10.9-15.3,20.9-27.7,53.7-30.7c26.9-2.5,36.2-6,36.2-6
                            C512,269.8,512,256,512,256S512,242.2,507.6,232.1z M256,375.7c-66.1,0-119.7-53.6-119.7-119.7S189.9,136.3,256,136.3
                            c66.1,0,119.7,53.6,119.7,119.7S322.1,375.7,256,375.7z" />
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div class="loading-bar" data-progress="0"><span></span>
                                                                </div>
                                                                <svg class="checkmark checkmark-success"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 50 50">
                                                                    <circle class="checkmark-circle" cx="25" cy="25"
                                                                        r="25" fill="none" />
                                                                    <path class="checkmark-check" fill="none"
                                                                        d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}

                                </tbody>
                                {% else %}
                                {% if query %}
                                <p style="font-size: 20px;color: blue;text-align: center;">No records found for: "{{ query }}"</p>

                                {% endif %}

                                {% endif %}
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->



{% endblock %}